#root {
  height: 100%;
}

.app-container {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;

  .auth-page {
    height: 100vh;
    padding: 16px 32px;
  }

  .auth-help {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 16px;

    &__text {
      @include applyThemes() {
        color: t(textColor);
      }
    }

    &__link {
      @include applyThemes() {
        color: t(linkColor);
      }
    }
  }
}