.nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (max-width: 1023px) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 0;
  }
}