.form-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 24px;
  padding: 10px 16px;
  @include applyThemes() {
    color: t(textColor);
  }

  &_black {
    @include applyThemes() {
      background-color: t(buttonColor);
      color: t(buttonTextColor);
    }
  }

  &_gray {
    @include applyThemes() {
      background-color: t(googleButtonColor);
      color: t(googleButtonTextcolor);
    }
  }
}